html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    /*min-width: 600px;*/
}
#head{
    height: 50px;
    width: 100%;
    background-color: rgba(31, 36, 41, 0.98);
}

#head .head_text{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    margin-left: 20px;
}

#body{
    background: url(../img/login/login-background.jpg) no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
}
.box{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 300px;
    height: 310px;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: #666 ;
    /*border: solid #000 0.5px;*/
}
.box .th-head{
    background-color: rgb(0,169,157);
    height: 60px;
}
.touch{
    line-height: 60px;
    margin-left: 20%;
    padding-bottom: 11px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}
.touch.selected{
    color: #f5f5f5;!important;
    border-bottom: #f5f5f5 solid 2px;
}
.login{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
.login img{
    position: absolute;
    margin-left: -50px;
    margin-top: 7px;
}
.login input{
    height: 30px;
    width: 120%;
}
 .users{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tips{
    color: rgba(112, 112, 114, 0.98);
    font-size: 5px;
    float: right;
    margin-top: 5px;
}
#doctor-reg{
    background-color: rgb(0,169,157);
    margin: 20px 0 0 0;
    color: #f5f5f5;
    cursor: pointer;
}
#heading-reg{
    background-color: rgb(0,169,157);
    margin: 20px 0 0 0;
    color: #f5f5f5;
    cursor: pointer;
}